<ion-view view-title="products">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <label class="item item-input item-select">
      <div class="input-label">
        Language
      </div>
      <select ng-model="language.display">
        <option>Spanish</option>
        <option>Italian</option>
        <option>English</option>
      </select>
    </label>

    <ion-item ng-repeat="item in items">
      <div class="list card">
        <div class="item">
          <h2>{{item.name}}</h2>
          <p>{{item.price}}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{item.img_url}}">
          <p>
            {{item.description}}
          </p>
        </div>

    </div>
</ion-item>

  </ion-content>
</ion-view>
